<h1>Resursai</h1>
{{#each resourcelist}}
    Medis:{{this.wood}}<br>
    Molis:{{this.clay}}<br>
    Akmuo:{{this.stone}}<br>
    Maistas:{{this.food}}<br>
{{/each}}
<h1>Produkcija</h1>
{{#each productionlist}}
  Medis:{{this.wood}}
  Molis:{{this.clay}}
  Akmuo:{{this.stone}}
  Maistas:{{this.food}}
{{/each}}